@mixin section {
    padding-top: 80px;
}

@mixin header {
    margin: 0 0 68px;
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    border-bottom: 2px solid #CBD2D9;
}

@mixin list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 50px 50px;
    list-style-type: none;
    padding: 0;

}

@mixin item {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

@mixin item-before {
    content: "</>";
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 0;
    transform: translateY(90px) rotate(15deg);
    margin-top: 8px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: 600;
    transition: transform .3s ease;
    opacity: 0.3;
}

@mixin link {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: black;
    background: #FFFFEA;
}

@mixin title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
}

@mixin title-before {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin-bottom: 8px;
    background: #06C847;
    border-radius: 8px
}

@mixin description {
    color: #52606D;
    line-height: 26px;
}

.section-read {
    @include section;

    &__header {
        @include header;

        @media (min-width:1184px) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    &__list {
        @include list;

    }

    &__item {
        @include item;

        &:hover {
            &::before {
                transform: translateY(0) rotate(15deg);
            }
        }

        &::before {
            @include item-before;
        }
    }

    &__link {
        @include link;

        @media(min-width:1184px) {
            min-height: 300px;
        }
    }

    &__title {
        @include title;
        min-height: 40px;

        &::before {
            @include title-before;
        }
    }

    &__description {
        @include description;

        @media(min-width: 1184px) {
            font-size: 18px;
            line-height: 32px;
        }
    }
}

.section-doc {
    @include section;

    &__header {
        @include header;

        @media (min-width:1184px) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    &__list {
        @include list;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 50px 30px;

    }

    &__item {
        @include item;

        &:hover {
            &::before {
                transform: translateY(0) rotate(15deg);
            }
        }

        &::before {
            @include item-before;
        }
    }

    &__link {
        @include link;

        @media(min-width:1184px) {
            min-height: 300px;
        }
    }

    &__title {
        @include title;
        min-height: 40px;

        &::before {
            @include title-before;
            background: #653CAD;
        }
    }

    &__description {
        @include description;

        @media(min-width: 1184px) {
            font-size: 18px;
            line-height: 32px;
        }
    }
}

.section-tools {
    @include section;

    &__header {
        @include header;

        @media (min-width:1184px) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    &__list {
        @include list;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 50px 30px;

    }

    &__item {
        @include item;

        &:hover {
            &::before {
                transform: translateY(0) rotate(15deg);
            }
        }

        &::before {
            @include item-before;
        }
    }

    &__link {
        @include link;
    }

    &__title {
        @include title;
        min-height: 40px;

        &::before {
            @include title-before;
            background: #2251CC;
        }
    }

    &__description {
        @include description;

        @media(min-width: 1184px) {
            font-size: 18px;
            line-height: 32px;
        }
    }
}

.section-watch {
    @include section;

    &__header {
        @include header;

        @media (min-width:1184px) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    &__list {
        @include list;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 50px 30px;

    }

    &__item {
        @include item;

        &:hover {
            &::before {
                transform: translateY(0) rotate(15deg);
            }
        }

        &::before {
            @include item-before;
        }
    }

    &__link {
        @include link;
    }

    &__title {
        @include title;
        min-height: 40px;

        &::before {
            @include title-before;
            background: #ffa07a;
        }
    }

    &__description {
        @include description;

        @media(min-width: 1184px) {
            font-size: 18px;
            line-height: 32px;
        }
    }
}